@model StrukturaDrzewiasta.ViewModels.LoginVM

<h1>Login</h1>
<hr />


<div class="col-lg-4" style="float:left">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Username", new { @class = "col-md-5 control-label" })
            @Html.TextBoxFor(l => l.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Password", new { @class = "col-md-5 control-label" })
            @Html.PasswordFor(l => l.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Password, "", new { @class = "text-danger" })
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" name="login" value="Login" />
        <hr />
    }

    @Html.ActionLink("Cancel", "Index", "Home")


</div>
